<main id="main">
    <div class="container mt-5 mb-5 pb-5">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 mx-auto mb-2">
                <h2>نبذة عن العمل</h2>
                <p>
                    يقوم هذا المشروع باستخدام الذكاء الإصطناعي لعمل صور مركبة بناءً على صور مسبقة باستخدام وصف يدخله المستخدم.
                </p>
                <h2>
                    الهدف من المشروع
                </h2>
                <p>
                    يهدف المشروع لعمل نظام للتحقق من هوية المستخدم عن طريق الإجابة عن سؤال يتعلق بالصورة المميزة التي تم ابتداعها من خلال الذكاء الاصطناعي.
                </p>
                <h2>
                    طريقة التشغيل
                </h2>
                <ol>
                    <li>
                        يتم تسجيل الدخول للنطام
                    </li>
                    <li>
                        الضغط على اضافة صورة
                    </li>
                    <li>
                        اضافة وصف للصورة
                    </li>
                    <li>
                        اضافة ثلاث تعليقات عن الصورة واختيار التعليق الأدق للصورة
                    </li>
                    <li>
                        الضغط على انشاء
                    </li>
                </ol>
                <h2>
                    المصادر العلمية
                </h2>
                <ul>
                   <li>
                        <a href="/versions/2023_01_08.zip">المصدر</a>
                    </li>
                    <li>
                        <a href="https://beta.openai.com/docs/api-reference">دليل الذكاء الاصطناعي</a>
                    </li>
                    <li>
                        <a href="https://bigthink.com/the-future/dall-e-midjourney-stable-diffusion-models-generative-ai/">شرح عن طريقة عمل DALL.E</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>