<main id="main">
    <div class="container-fluid mt-5 mb-5 pb-5">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 mx-auto mb-2">
                <small><a href="/">Back</a></small>
                <h1>Results</h1>
                <%images.data.forEach((image,i)=>{%>
                    <img src="<%=image.url%>" class="img-fluid my-3" />
                <%})%>
            </div>
        </div>
    </div>
</main>