<main id="main">
    <div class="container-fluid mt-5 mb-5 pb-5">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 mx-auto mb-2">
                <h1>Image Generation using DALL·E models & Open AI</h1>
                <div class="mb-3">
                    <label for="txtPrompt" class="form-label">Insert your image description</label>
                    <textarea class="form-control" id="txtPrompt" rows="3"></textarea>
                </div>
                <button id="btnGenerate" class="btn btn-primary mb-3">Generate 2 Images</button>
                <hr/>
                <ul>
                    <li>
                        <a href="https://github.com/anasnajaa/openai_sample">Source Code</a>
                    </li>
                    <li>
                        <a href="https://beta.openai.com/docs/api-reference">Open AI Reference</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<script>
    const btnGenerate = $("#btnGenerate");
    const txtPrompt = $("#txtPrompt");

    btnGenerate.on("click", () => {
        const prompt = txtPrompt.val();
        window.location = "/generate?prompt="+prompt;
    });
</script>