<main class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
                <img src="/img/banner_url.jpeg" class="img-fluid rounded"/>

                <div class="mb-3 text-center">
                    مدرسة مريم بنت عبدالله بنت صباح الأول م.ب
                </div>
                <h2 class="text-center"></h2>
                اسم الطالبة: <b>الجود عبدالعزيز ابراهيم الجعفر</b>
                <p>
                    المعلمة المشرفة: آلاء محمد هاشم ملا حويش المحمود
                    <br/>
                    رئيسة القسم: أ.نسرين سعودي
                    <br/>
                    الموجهة الفنية: أ.حنان غضنفري
                </p>

                <div class="form-floating mt-2 mb-2">
                    <input type="text" class="form-control" id="txtUsername" placeholder="اسم المستخدم">
                    <label for="txtUsername">اسم المستخدم</label>
                </div>

                <div class="form-floating mb-2">
                    <input type="password" class="form-control" id="txtPassword" placeholder="كلمة المرور">
                    <label for="txtPassword">كلمة المرور</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" id="btnLogin" type="submit">تسجيل الدخول</button>
            </div>
        </div>
    </div>
</main>

<script>
    const postRequest = async (url, queryParams, data) => {
        let finalUrl = "";

        const headers = new Headers();
        headers.append("Content-Type", "application/json");
        const raw = JSON.stringify(data);
        const requestOptions = {
            method: "POST",
            headers: headers,
            body: raw,
            credentials: "include"
        };

        if (queryParams === undefined || queryParams === null) {
            finalUrl = url;
        } else {
            finalUrl = `${url}?${new URLSearchParams(queryParams)}`;
        }

        return fetch(finalUrl, requestOptions).catch((error) => console.log("api-error", error));
    };

    const txtUsername = document.getElementById('txtUsername');
    const txtPassword = document.getElementById('txtPassword');

    document.getElementById('btnLogin').onclick = async ()=>{
        const response = await postRequest("/api/login", {}, {
            username: txtUsername.value,
            password: txtPassword.value
        });
        if(response.ok){
            window.location = "/dashboard";
        }
    }

</script>
