<main id="main">
    <div class="container-fluid mt-5 mb-5 pb-5">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-6 col-xl-6 mx-auto mb-2">
                <div class="mb-3">
                    <label for="txtPrompt" class="form-label">Insert your image description</label>
                    <textarea class="form-control" id="txtPrompt" rows="3"></textarea>
                </div>
                <button id="btnGenerate" class="btn btn-primary mb-3">Generate Image</button>
            </div>
        </div>
    </div>
</main>
<script>
    const btnGenerate = $("#btnGenerate");
    const txtPrompt = $("#txtPrompt");

    btnGenerate.on("click", () => {
        const prompt = txtPrompt.val();
        window.location = "/generate?prompt="+prompt;
    });
</script>