<main class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-4 col-xl-4 mx-auto">
                <img src="/img/banner_url.jpeg" class="img-fluid rounded"/>

                <div class="mb-3 text-center">
                    منطقة حولي التعليمية<br/>
                    مدرسة مريم بنت عبدالله بنت صباح الأول م/ب
                </div>
                <h2 class="text-center"></h2>
                اسم الطالبة: <b>الجود عبدالعزيز ابراهيم الجعفر</b>
                <br/>
                الصف: <b>8/2</b>
                <p>
                    المعلمة المشرفة: آلاء محمد هاشم ملا حويش المحمود
                    <br/>
                    رئيسة القسم: أ.نسرين سعودي
                    <br/>
                    الموجهة الفنية: أ.حنان غضنفري
                    <br/>
                    مديرة المدرسة: أ/ابتسام دشتي
                </p>
                <%if(user === undefined || user === null ){%>
                <div class="form-floating mt-2 mb-2">
                    <input type="text" class="form-control" id="txtUsername" placeholder="اسم المستخدم">
                    <label for="txtUsername">اسم المستخدم</label>
                </div>

                <div class="form-floating mb-2">
                    <input type="password" class="form-control" id="txtPassword" placeholder="كلمة المرور">
                    <label for="txtPassword">كلمة المرور</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" id="btnLogin" type="submit">تسجيل الدخول</button>
                <%} else {%>
                <button class="w-100 btn btn-lg btn-secondary" id="btnLogout" type="submit">تسجيل الخروج</button>
                <%}%>
            </div>
        </div>
    </div>
</main>

<script>
    const postRequest = async (url, queryParams, data) => {
        let finalUrl = "";

        const headers = new Headers();
        headers.append("Content-Type", "application/json");
        const raw = JSON.stringify(data);
        const requestOptions = {
            method: "POST",
            headers: headers,
            body: raw,
            credentials: "include"
        };

        if (queryParams === undefined || queryParams === null) {
            finalUrl = url;
        } else {
            finalUrl = `${url}?${new URLSearchParams(queryParams)}`;
        }

        return fetch(finalUrl, requestOptions).catch((error) => console.log("api-error", error));
    };
</script>
<%if(user === undefined || user === null ){%>
<script>
    const btnLogin = $("#btnLogin");
    const txtUsername = $("#txtUsername");
    const txtPassword = $("#txtPassword");
    btnLogin.on("click", async()=> {
        const response = await postRequest("/api/login", {}, {
            username: txtUsername.val(),
            password: txtPassword.val()
        });
        if(response.ok){
            window.location = "/dashboard";
        }
    });
</script>
<%} else {%>
<script>
    const btnLogout = $("#btnLogout");
    btnLogout.on("click", async()=> {
        const response = await postRequest("/api/logout", {}, {});
        if(response.ok){
            window.location = "/";
        }
    });
</script>
<%}%>