 <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">حول</h4>
          <p class="text-muted"></p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">القائمة</h4>
          <ul class="list-unstyled">
            <li><a href="/dashboard" class="text-white">الصور</a></li>
            <li><a href="/prompt" class="text-white">إضافة صورة</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/dashboard" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>ألبوم صور الذكاء الاصطناعي</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="تبديل التنقل">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>

<div class="container mt-3">
    <h4>الوصف</h4>
    <p class="mt-1"><%= picture.prompt %></p>
    <h4 class="mt-4">الصور</h4>
    <div class="row mt-1">
            <% picture.pictures.forEach((pic) => {%>
                <div class="col-4">
                    <div class="card text-bg-dark">
                    <img src="<%=pic.url%>" class="card-img" alt="...">
                    </div>
                </div>
            <%})%>
    </div>
    <h4 class="mt-4">الإجابات</h4>
    <ul class="list-group mt-1">
        <%picture.answers.forEach(answer=>{%>
            <li class="list-group-item">
                <%=answer.correct ? '✓' : ''%>&nbsp;&nbsp;<%=answer.text%>
            </li>
        <%})%>
    </ul>
</div>
